
/* TUDO */
*{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    user-select: none;
}
main{
    display: flex;
    flex-direction: column;
}


/* SUPERIOR */
.container-superior{
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3125em;
    width: 100vw;
    
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-superior h1{
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

/* PRINCIPAL */
.container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    margin: auto;
    width: 72.9861111%;
    height: 100vh;
    padding-top: 4.8125em;
    padding-bottom: 13.1875em;
}
.container-usuario{
    display: flex;
    margin-top: 4.8125em;
    height: 14em;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.container-usuario h4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.container h3{
    margin-top: 4.8125em;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.container-todos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em;
}
.quiz{
    background-image: url("../img/preg.svg");
    background-size: cover;
    width: 21.25em;
    height: 11.3125em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.quiz h4{
    text-align: start;
    width: 88.5294118%;
    font-weight: lighter;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 3%;
}